<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <title>FastFood Admin</title>
</head>

<body>

    <main>

        <nav>
            <div class="logo">
                <img src="assets/images/fastfood-logo.png" alt="fastfood-logo" width="200px">
            </div>

            <ul>
                <li>
                    <span>Home</span>
                </li>
                <li>
                    <span>Produtos</span>
                </li>
            </ul>
        </nav>

    </main>

    <div class="login-container">
        <div>
            <img src="assets/images/fastfood-logo.png" alt="fastfood-logo">
            <input id="password" type="password" placeholder="Enter password admin" autocomplete="off">
            <button id="btn-login">Login</button>
        </div>
    </div>

    <input type="file" name="image" id="f">
    <button type="submit" onclick="d()">Enviar</button>

    <script src="scripts/index.js"></script>
</body>

</html>