<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/orders.css">
    <link rel="icon" href="../assets/icons/gj1.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Fast Food</title>
</head>

<body>

    <div class="topbar">

        <div id="input-container">
            <input type="text" class="search-box" placeholder="Pesquisar...">
            <img src="assets/icons/d8.webp" width="23px" alt="">
        </div>

        <div>
            <span id="status">Não connectedo</span>
            <span style="margin-left: 20px;" id="admin-counter">0 Admins</span>
        </div>

        <!-- <div class="icon-btn">
            <img class="notify-icon" src="../assets/icons/cr1.png" width="32px" alt="">
            <span class="badge">12</span>
        </div> -->

    </div>

    <ul class="order-list-container">

        <!-- <div class="order-card">
            <div class="order-info">
                <div class="avatar"></div>
                <span>Isaac Tchissingui</span>
                <span>14:15</span>
            </div>
            <button class="btn-info">Ver Detalhes</button>
        </div> -->

    </ul>

    <div class="popup-container" id="popup-container">

        <div class="popup">

            <div class="popup-header">
                <h2>Novo Pedido</h2>

                <div class="client-info">
                    <p id="clientName"><strong>Cliente:</strong> Carlos Frescos</p>
                    <p id="clientLocation"><strong>Localização:</strong> Luanda, Benfica</p>
                </div>
            </div>

            <div class="products-container">

                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Produtos Solicitados</h3>
                    <h3 id="total-money" style="color: red;">Total 0.00 KZ</h3>
                </div>

                <ul class="products-list">

                    <!-- <li class="product-item">
                        <span>Hambúrguer Especial</span>
                        <span>Quantidade: 5</span>
                        <span>1.500 KZ</span>
                    </li> -->

                </ul>

            </div>

            <div class="popup-footer">
                <button class="btn-cancel" onclick="closePopup()">Fechar</button>
            </div>

        </div>

    </div>

    <script src="../scripts/orders.js"></script>

</body>

</html>