<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <title>FastFood Admin</title>
</head>

<body>

    <nav>

        <h1>FastFood</h1>

        <button id="btn-home">Home</button>
        <button id="btn-dashboard">Dashboard</button>
        <button id="btn-toglemenu2">Close</button>

    </nav>

    <main>
        <div class="header">
            <button id="btn-toglemenu">Open</button>
        </div>
        <iframe src="home.html" id="iframe"></iframe>
    </main>

    <script src="scripts/index.js"></script>
</body>

</html>